<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fire-test</title>
</head>
<body>
    <h1>FireTest</h1>
    <ul>
        {{#each nations}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
</body>
</html>